<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>537739658446-8l2u2bh42qrfap20011sfko55odbrb38.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.537739658446-8l2u2bh42qrfap20011sfko55odbrb38</string>
	<key>API_KEY</key>
	<string>AIzaSyDQfKHGBtom2QgJpkndltHscUShHqV48nA</string>
	<key>GCM_SENDER_ID</key>
	<string>537739658446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktok-clone-93465</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-clone-93465.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537739658446:ios:6ccd02e647864b7d663c9f</string>
</dict>
</plist>